.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #fff 3px solid;
    text-align: center;
}

    header h1 {
        margin: 0;
    }

.job {
    background: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    line-height: 1.2;
}

    .job .period {
        width: 18%;
        box-sizing: border-box;
        font-size: 9px;
    }

    .job .details {
        width: 82%;
    }

    .job .job-header {
        display: flex;
        justify-content: space-between;
        align-items:baseline;
    }

        .job .job-header .job-title {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            flex: 1;
        }

        .job .job-header .firma {
            font-size: 13px;
            font-weight: normal;
            font-style:italic;
            text-align: right;
        }

    .job p {
        margin: 5px 0;
    }

    .job .inline-list {
        font-size: 9px;
        display: flex;
        flex-wrap: wrap;
    }

        .job .inline-list span {
            background: #f4f4f4;
            padding: 2px 2px;
            border-radius: 4px;
            margin-right: 2px;
        }

.taglines {
    padding-bottom: 10px;
}
    .tagline {
        font-size: 12px;
        background: #fff;
        padding: 2px 2px;
    }